@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="/#shows">Shows</a>
            <a href="/#music">Music</a>
            <a href="/#videos">Videos</a>
            <a href="/#bio">Bio</a>
            <a href="/#gallery">Gallery</a>
            <a href="/#contact">Contact</a>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <footer class="main-footer">
            © @DateTime.Now.Year Cursed Into Oblivion
            <span class="px-2">|</span>
            <a href="login" class="login-link">member login</a>
        </footer>
    </main>
</div>