html, body {
    /* Vi bruger en mørk, "brutal" skrifttype hvis muligt, ellers standard */
    font-family: 'Arial Black', 'Impact', sans-serif;
    background-color: #0a0a0a;
    color: #f0f0f0;
    height: 100%; /* TILFØJET FOR AT TILLADE VERTIKAL CENTRERING */
}

h1, h2, h3, h4, h5, h6 {
    /* Overskrifter er store og med store bogstaver for det rå look */
    text-transform: uppercase;
    color: #ffffff;
}

a, .btn-link {
    /* Fjerner den blå standardfarve */
    color: #f0f0f0;
    text-decoration: none;
}

    a:hover, .btn-link:hover {
        color: #ffffff;
        text-decoration: underline;
    }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

/* Rettet fejl-UI til mørkt tema */
.blazor-error-boundary {
    background: #330000;
    border: 1px solid #dc3545;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}
